<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wgn.website.mapper.UserMapper">

<!--    更新不为空的信息-->
    <update id="updateButNull" parameterType="cn.wgn.website.dto.profile.ProfileDto">
        UPDATE wu_user
        SET ID = #{id}
        <if test="dto.username != null and dto.username != ''">
            ,USERNAME = #{dto.username}
        </if>
        <if test="dto.realname != null and dto.realname != ''">
            ,REALNAME = #{dto.realname}
        </if>
        <if test="dto.password != null and dto.password != ''">
            ,PASSWORD = #{dto.password}
        </if>
        <if test="dto.headimg != null and dto.headimg != ''">
            ,HEADIMG = #{dto.headimg}
        </if>
        WHERE
            ID = #{id}
    </update>
</mapper>
