<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wgn.website.mapper.UserMapper">

<!--    更新不为空的信息-->
    <update id="updateButNull" parameterType="cn.wgn.website.entity.UserEntity">
        UPDATE WU_USER
        SET ID = #{entity.id}
        <if test="entity.username != null">
            ,USERNAME = #{entity.username}
        </if>
        <if test="entity.realname != null">
            ,REALNAME = #{entity.realname}
        </if>
        <if test="entity.password != null">
            ,PASSWORD = #{entity.password}
        </if>
        WHERE
            ID = #{entity.id}
    </update>
</mapper>
