<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wgn.framework.web.mapper.JobLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wgn.framework.web.entity.JobLogEntity">
    <result column="id" property="id" />
        <result column="job_name" property="jobName" />
        <result column="job_group" property="jobGroup" />
        <result column="invoke_target" property="invokeTarget" />
        <result column="job_message" property="jobMessage" />
        <result column="status" property="status" />
        <result column="exception_info" property="exceptionInfo" />
        <result column="start_time" property="startTime" />
        <result column="stop_time" property="stopTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        job_name, job_group, invoke_target, job_message, status, exception_info, start_time, stop_time
    </sql>

</mapper>
